<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <img src="/images/me.png">
        {{>footer}}
    </body>
</html>